html {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(234, 236, 232);
  text-align: center;
  align-items: center;
  font-size: 3.45rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-block: 2.5rem;
  text-shadow: 2px 1px 2px rgb(246, 250, 246);
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url(/Images/weather-app-bg.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.card {
  width: clamp(250px, 50%, 320px);
  background-color: rgb(195, 206, 198);
  padding: 2.1rem;
  margin: 2.5rem auto;
  border-radius: 8px;
  background-color: rgba(51, 55, 57, 0.8);
  box-shadow: 1px 1px 2px rgb(45, 46, 44);
}

input {
  width: 75%;
  color: rgb(51, 54, 53);
  height: 2.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: none;
  padding: 0.36rem;
}

input:focus {
  /* color: rgb(51, 54, 53); */
  border: 3px solid rgb(215, 254, 230);
  background-color: rgb(224, 250, 229);
}

.search-btn {
  width: 3rem;
  height: 2.8rem;
  border: none;
  margin-left: 0.25rem;
  background-color: rgb(66, 64, 64);
  border-radius: 6px;
  transition: background-color 0.5s ease-in-out;
}
.search-btn:hover {
  cursor: pointer;
  background-color: rgb(189, 240, 127);
  #search-icon {
    color: rgb(45, 46, 44);
  }
}

#search-icon {
  color: rgb(225, 224, 228);
  width: 1.5rem;
  height: 1.25rem;
}

.weather-info > * {
  margin-block: 0.5em;
  color: white;
}
.temp {
  font-size: 2.5rem;
}

@media (max-width: 524px) {
  h1 {
    font-size: 2.5rem;
  }
}
